.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    height: 500px;
}

.box {
    width: 100px;
    height: 100px;
    border: black solid 1px;
    padding: 5px;
    background: tomato;
    color: white;
}